body {
  margin:0px;
  background-color:rgba(232, 223, 206, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:102px;
  width:1px;
  height:37px;
  display:flex;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u448 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u448_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:155px;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:155px;
  display:flex;
}
#u450 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u450_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:1665px;
  top:22px;
  width:75px;
  height:75px;
  display:flex;
}
#u451 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u451_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u452_input {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:40px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u452_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:40px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u452_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:40px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u452_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:40px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u452_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u452 {
  border-width:0px;
  position:absolute;
  left:1102px;
  top:40px;
  width:398px;
  height:40px;
  display:flex;
  font-size:20px;
}
#u452 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u452_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u452.hint {
}
#u452_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:40px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u452.disabled {
}
#u452_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:40px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u452.hint.disabled {
}
#u453 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:1561px;
  top:22px;
  width:75px;
  height:75px;
  display:flex;
  opacity:0.48;
}
#u454 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u454_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:1567px;
  top:28px;
  width:64px;
  height:64px;
  display:flex;
  opacity:0.48;
  color:#D78669;
}
#u455 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u455_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u456_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#590F0D;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:44px;
  width:130px;
  height:31px;
  display:flex;
  font-family:"Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#590F0D;
}
#u456 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u456_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u457_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1088px;
  height:145px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:230px;
  width:1088px;
  height:145px;
  display:flex;
}
#u457 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u457_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u458_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1088px;
  height:145px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:810px;
  width:1088px;
  height:145px;
  display:flex;
}
#u458 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u458_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u459_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1088px;
  height:145px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:520px;
  width:1088px;
  height:145px;
  display:flex;
}
#u459 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u459_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u460_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:175px;
  width:130px;
  height:25px;
  display:flex;
  font-family:"Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u460 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u460_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u461_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:293px;
  width:90px;
  height:23px;
  display:flex;
  font-family:"Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u461 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u461_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u462_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:580px;
  width:90px;
  height:23px;
  display:flex;
  font-family:"Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u462 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u462_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:441px;
  width:90px;
  height:23px;
  display:flex;
  font-family:"Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u463 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u463_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:725px;
  width:90px;
  height:23px;
  display:flex;
  font-family:"Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u464 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u464_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:870px;
  width:90px;
  height:23px;
  display:flex;
  font-family:"Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u465 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u465_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:415px;
  width:75px;
  height:75px;
  display:flex;
}
#u466 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u466_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:554px;
  width:75px;
  height:75px;
  display:flex;
}
#u467 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u467_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:265px;
  width:75px;
  height:75px;
  display:flex;
}
#u468 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u468_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:699px;
  width:75px;
  height:75px;
  display:flex;
}
#u469 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u469_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:844px;
  width:75px;
  height:75px;
  display:flex;
}
#u470 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u470_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:45px;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:1432px;
  top:280px;
  width:41px;
  height:45px;
  display:flex;
}
#u471 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u471_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:1322px;
  top:155px;
  width:182px;
  height:65px;
  display:flex;
  font-family:"Merriweather", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u472 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u472_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:45px;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:1432px;
  top:430px;
  width:41px;
  height:45px;
  display:flex;
}
#u473 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u473_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:45px;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:1432px;
  top:569px;
  width:41px;
  height:45px;
  display:flex;
}
#u474 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u474_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:45px;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:1432px;
  top:857px;
  width:41px;
  height:45px;
  display:flex;
}
#u475 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:45px;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:1432px;
  top:714px;
  width:41px;
  height:45px;
  display:flex;
}
#u476 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:175px;
  width:227px;
  height:25px;
  display:flex;
  font-family:"Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u478 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u478_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#590F0D;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:366px;
  width:43px;
  height:23px;
  display:flex;
  font-family:"Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#590F0D;
}
#u479 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u479_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#590F0D;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:387px;
  width:49px;
  height:18px;
  display:flex;
  font-family:"Merriweather", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#590F0D;
}
#u480 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u480_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline ;
  color:#590F0D;
  text-align:center;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:427px;
  width:102px;
  height:18px;
  display:flex;
  font-family:"Merriweather", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline ;
  color:#590F0D;
  text-align:center;
}
#u481 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:512px;
  width:152px;
  height:25px;
  display:flex;
  font-family:"Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u482 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u482_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#590F0D;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:553px;
  width:116px;
  height:23px;
  display:flex;
  font-family:"Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#590F0D;
}
#u483 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u483_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u484_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#590F0D;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:592px;
  width:161px;
  height:23px;
  display:flex;
  font-family:"Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#590F0D;
}
#u484 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u484_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#590F0D;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:631px;
  width:45px;
  height:23px;
  display:flex;
  font-family:"Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#590F0D;
}
#u485 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u485_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#590F0D;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:553px;
  width:24px;
  height:23px;
  display:flex;
  font-family:"Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#590F0D;
}
#u486 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u486_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#590F0D;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:592px;
  width:9px;
  height:23px;
  display:flex;
  font-family:"Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#590F0D;
}
#u487 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u487_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#590F0D;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:631px;
  width:21px;
  height:23px;
  display:flex;
  font-family:"Merriweather Bold", "Merriweather", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#590F0D;
}
#u488 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u488_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:144px;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:216px;
  width:90px;
  height:144px;
  display:flex;
}
#u489 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u489_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
